@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #3FDB90;
    --cor2: #31A86F;
    --cor3: #1B5C3C;
    --cor4: #365C4A;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', cursive;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
}

nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.493);
    background-color: var(--cor3)
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .4s;
}

nav >a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
}

main {
     min-width: 300px;
     max-width: 1000px;
     margin: auto;
     margin-bottom: 30px;
     padding: 20px;
     background-color: white;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

main h1 {
    color:var(--cor3);
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 10px;
    font-weight: normal;
    font-size: 1.5em;
}

main h2 {
    font-family: var(--font-android);
    color: #1B5C3C;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #365C4A;
    background-color: var(--cor0);
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    margin-bottom: 30px;
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2705';
    list-style-position: inside;
    columns: 3;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    color: white;
    background-color: var(--cor4)
}